.hidden {
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    /* Game History */
    .gameHistory {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
    }
    .gameHistory thead th {
      text-align: center;
    }
    .gameHistory th,
    .gameHistory td {
      margin: 0;
      padding: 0;
    }
    .gameHistory .gameHistory-colGame {
      width: 5%;
    }
    .gameHistory .gameHistory-colP1,
    .gameHistory .gameHistory-colP2 {
      width: 35%;
      text-align: right;
    }
    .gameHistory .gameHistory-colOptions {
      width: 25%;
    }
    .gameHistory .score {
      text-align: right;
      padding-right: 5px;
    }
    .gameHistory .ui-btn-inner {
      padding: 5px 0;
    }


    /* Round History */
    .round-history .round-history-item {

    }

    .target-hits-group .ui-field-contain {
      border: 0;
    }
    .target-hits-group .ui-radio input {
      left: 0;
    }
    .target-hits-group .ui-btn-inner {
      padding: 5px 6px;
    }
    .round-details {
      width: 100%;
      margin: 0;
      padding:0;
    }
